html 
    {
    font-size: 10px;
    margin: 0;
    }

body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background: url("../images/leading-21px.png");
    
    color:#333741;
    font-size: 1.4rem;
    font-family: "Spoqa Han Sans";
    line-height: 1.5
    }
    
     .container {
        width: 75%;
        height: 100vh;
        margin-top: 2.1rem;
        margin-left: auto;
        margin-right: auto;
     }

img {
    width: 100%;
}
/*p에도 뭔가 써야하는 거였어!!!!*/
p {
    margin-top: 0;
    margin-bottom: 1.5em;
}


   h1,h2,h3,h4,h5,h6 
   {
    margin-top: 0;
    margin-bottom: 2.1rem;
    /*mb가 이렇게 중요한 거였군요!!*/
    letter-spacing: -0.040em;
    }
   
    h1 
    {
    font-size: 5.463rem; 
    line-height: 4.2rem;
    font-weight: 200;
    }

    h2
    {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: bold; 
    }

    h3 
    {
    margin-top: 3.85rem;
    font-size: 3.169rem;
    line-height: 4.2rem;
    font-weight: 200; 
    }
     
    h4
    {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: bold;
    color: #787f94;
    }

    h5 
    {
    font-size: 1.838rem;
    line-height: 4.2rem;
    font-weight: normal;
    }
  
    h6 
    {
    font-size: 1.563rem;
    line-height: 4.2rem;
    }
    
